<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by title"
        (keyup.enter)="searchTitle()"
        [(ngModel)]="title"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="searchTitle()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4>Coffees</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let coffee of coffees; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActivecoffee(coffee, i)"
      >
        {{ coffee.title }}
      </li>
    </ul>
    <button class="m-3 btn btn-sm btn-danger" (click)="removeAllcoffees()">
      Remove All
    </button>
    <br /><br />
    <h4>5.0 coffees</h4>
    <ul class="list-group">
      <!-- Note: using ng-container here since you can only use 1 *ng statement per
      item, and do not want to make a li container in DOM if not going to use it -->
      <ng-container *ngFor="let coffee of coffees; let i = index">
        <li
          class="list-group-item"
          *ngIf="coffee.score == 5.0"
          [class.active]="i == currentIndex"
          (click)="setActivecoffee(coffee, i)"
        >
          {{ coffee.title }}
        </li>
      </ng-container>
    </ul>
    <br /><br />
    <h4>4.75 coffees</h4>
    <ul class="list-group">
      <ng-container *ngFor="let coffee of coffees; let i = index">
        <li
          class="list-group-item"
          *ngIf="coffee.score == 4.75"
          [class.active]="i == currentIndex"
          (click)="setActivecoffee(coffee, i)"
        >
          {{ coffee.title }}
        </li>
      </ng-container>
    </ul>
    <br /><br />
    <h4>4.5 coffees</h4>
    <ul class="list-group">
      <ng-container *ngFor="let coffee of coffees; let i = index">
        <li
          class="list-group-item"
          *ngIf="coffee.score == 4.5"
          [class.active]="i == currentIndex"
          (click)="setActivecoffee(coffee, i)"
        >
          {{ coffee.title }}
        </li>
      </ng-container>
    </ul>
    <br /><br />

    <h4>Stats</h4>
    <!-- TODO: add stats for most common roaster, highest price, lowest, highest each category, etc. -->
    <li>Most Common Roaster: {{ mostCommonRoaster }}</li>
    <li>Most Common Score: {{ mostCommonScore }}</li>
    <li>Average Score: {{ averageScore }}</li>
    <li>Highest Price/Oz: {{ highestPrice }}</li>
    <li>Lowest Price/Oz: {{ lowestPrice }}</li>
    <li>Average Price/Oz: {{ averagePrice }}</li>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentcoffee">
      <h4>coffee</h4>
      <div>
        <label><strong>Title:</strong></label> {{ currentcoffee.title }}
      </div>
      <div>
        <label><strong>Roaster:</strong></label>
        {{ currentcoffee.roaster }}
      </div>
      <div>
        <label><strong>Price:</strong></label>
        ${{ currentcoffee.price }}
      </div>
      <div>
        <label><strong>Size (oz):</strong></label>
        {{ currentcoffee.size }} oz
      </div>
      <div>
        <label><strong>Price/oz:</strong></label>
        ${{ currentcoffee.price / currentcoffee.size }} oz
      </div>
      <div>
        <label><strong>Purchase Date:</strong></label>
        {{ currentcoffee.purchased }}
      </div>
      <div>
        <label><strong>Notes:</strong></label
        ><br />
        {{ currentcoffee.notes }}<br /><br />
      </div>
      <div>
        <label
          ><strong><a href="{{ currentcoffee.link }}">Link</a></strong></label
        >
      </div>
      <div>
        <label><strong>Score:</strong></label>
        {{ currentcoffee.score }}
      </div>
      <app-radar-chart> </app-radar-chart>

      <a
        class="badge badge-warning"
        routerLink="/coffees/{{ currentcoffee.id }}"
      >
        Edit
      </a>
    </div>

    <div *ngIf="!currentcoffee">
      <br />
      <p>Please click on a coffee...</p>
    </div>
  </div>
</div>
