<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Coffee Name</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="coffee.title"
          name="title"
        />
      </div>

      <div class="form-group">
        <label for="description">Roaster</label>
        <input
          class="form-control"
          id="roaster"
          required
          [(ngModel)]="coffee.roaster"
          name="roaster"
        />
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <input
          class="form-control"
          id="price"
          required
          [(ngModel)]="coffee.price"
          name="price"
        />
      </div>

      <div class="form-group">
        <label for="size">Size (oz)</label>
        <input
          class="form-control"
          id="size"
          required
          [(ngModel)]="coffee.size"
          name="size"
        />
      </div>

      <div class="form-group">
        <label for="date">Purchased Date</label>
        <input
          class="form-control"
          id="date"
          type="date"
          required
          [(ngModel)]="coffee.date"
          name="date"
        />
      </div>

      <div class="form-group">
        <label for="notes">Notes</label>
        <textarea
          class="form-control"
          id="notes"
          required
          [(ngModel)]="coffee.notes"
          name="notes"
          rows="4"
        ></textarea>
      </div>

      <div class="form-group">
        <label for="link">Link</label>
        <input
          class="form-control"
          type="url"
          id="link"
          required
          [(ngModel)]="coffee.link"
          name="link"
        />
      </div>

      <div class="form-group">
        <label for="score">Score</label>
        <input
          class="form-control"
          id="score"
          required
          [(ngModel)]="coffee.score"
          name="score"
        />
      </div>

      <button (click)="savecoffee()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>coffee was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newcoffee()">Add</button>
    </div>
  </div>
</div>
