<div>
  <div *ngIf="currentcoffee.id" class="edit-form">
    <h4>coffee</h4>
    <form>
      <div class="form-group">
        <label for="title">Coffee Name</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentcoffee.title"
          name="title"
        />
      </div>

      <div class="form-group">
        <label for="roaster">Roaster</label>
        <input
          class="form-control"
          id="roaster"
          [(ngModel)]="currentcoffee.roaster"
          name="roaster"
        />
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <input
          class="form-control"
          id="price"
          [(ngModel)]="currentcoffee.price"
          name="price"
        />
      </div>
      <div class="form-group">
        <label for="size">Size (oz)</label>
        <input
          class="form-control"
          id="size"
          [(ngModel)]="currentcoffee.size"
          name="size"
        />
      </div>

      <div class="form-group">
        <label for="date">Purchased Date</label>
        <input
          class="form-control"
          id="date"
          type="date"
          [(ngModel)]="currentcoffee.date"
          name="date"
        />
      </div>

      <div class="form-group">
        <label for="notes">Notes</label>
        <textarea
          class="form-control"
          id="notes"
          [(ngModel)]="currentcoffee.notes"
          name="notes"
          rows="4"
        ></textarea>
      </div>

      <div class="form-group">
        <label for="link">Link</label>
        <input
          class="form-control"
          type="url"
          id="link"
          [(ngModel)]="currentcoffee.link"
          name="link"
        />
      </div>

      <div class="form-group">
        <label for="score">Score</label>
        <input
          class="form-control"
          id="score"
          [(ngModel)]="currentcoffee.score"
          name="score"
        />
      </div>

      <div class="form-group">
        <label for="aroma">Aroma</label>
        <input
          class="form-control"
          id="aroma"
          [(ngModel)]="currentcoffee.aroma"
          name="aroma"
        />
      </div>
      <div class="form-group">
        <label for="body">Body</label>
        <input
          class="form-control"
          id="body"
          [(ngModel)]="currentcoffee.body"
          name="body"
        />
      </div>
      <div class="form-group">
        <label for="flavor">Flavor</label>
        <input
          class="form-control"
          id="flavor"
          [(ngModel)]="currentcoffee.flavor"
          name="flavor"
        />
      </div>
      <div class="form-group">
        <label for="balance">Balance</label>
        <input
          class="form-control"
          id="balance"
          [(ngModel)]="currentcoffee.balance"
          name="balance"
        />
      </div>
      <div class="form-group">
        <label for="cleanliness">Cleanliness</label>
        <input
          class="form-control"
          id="cleanliness"
          [(ngModel)]="currentcoffee.cleanliness"
          name="cleanliness"
        />
      </div>
      <div class="form-group">
        <label for="aftertaste">Aftertaste</label>
        <input
          class="form-control"
          id="aftertaste"
          [(ngModel)]="currentcoffee.aftertaste"
          name="aftertaste"
        />
      </div>
      <div class="form-group">
        <label for="complexity">Complexity</label>
        <input
          class="form-control"
          id="complexity"
          [(ngModel)]="currentcoffee.complexity"
          name="complexity"
        />
      </div>
      <div class="form-group">
        <label for="acidity">Acidity</label>
        <input
          class="form-control"
          id="acidity"
          [(ngModel)]="currentcoffee.acidity"
          name="acidity"
        />
      </div>
      <div class="form-group">
        <label for="sweetness">Sweetness</label>
        <input
          class="form-control"
          id="sweetness"
          [(ngModel)]="currentcoffee.sweetness"
          name="sweetness"
        />
      </div>
    </form>

    <button class="badge badge-primary mr-2">UnPublish</button>
    <button class="badge badge-primary mr-2">Publish</button>

    <button class="badge badge-danger mr-2" (click)="deletecoffee()">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updatecoffee()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentcoffee.id">
    <br />
    <p>Cannot access this coffee...</p>
  </div>
</div>
